@import "tailwindcss";

@theme {
  --color-red: #e81d31;
  --color-yellow: #ffca08;
  --color-primary: #0576bc;
  --color-primary-light: #9bc8e4;
  --color-secondary-light: #c7c7c7;
  --color-secondary: #747474;
  --color-black: #393536;
  --color-white: #ffffff;
}
